.twitter_danmaku_comment {
  position: absolute;
  font-size: 36px;
  line-height: 1;
  z-index: 10000;
  color: #333;

  animation-name: lane0;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

@keyframes lane0 {
  from {
    transform: translate(100vw, 0);
  }
  to {
    transform: translate(-3000px, 0);
  }
}
